block content

div.mainContainer
  div.leftAside
    h1 Steven Bell
    h2 full stack web developer
  div.rightAside
    h3
      a(href="#webDesign") web dev portfolio
    h3
      a(href="#landDesign") design portfolio
    h3
      a(href="#resume") resume
    h3
      a(href="#contact") contact
  div.webDevOuter#webDesign
    h3 web development portfolio
    div#folio1
      div.modal
        label(for="modal-1")
          div.modal-trigger.webFolio
        input(type="checkbox").modal-state#modal-1
        div.modal-fade-screen
          div.modal-inner
            div(for="modal-1").modal-close
            div.modal-leftCol
              h3 Modal Title
              p.modal-intro  Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo mo
              p.modal-content Body text lorem ipsum dolo
            div.modal-rightCol
    div#folio2
      div.webFolio
    div#folio3
      div.webFolio
  div.webDevOuter#landDesign
    h3 landscape design portfolio
    div#folio1
      div.webFolio
    div#folio2
      div.webFolio
    div#folio3
      div.webFolio
  div#resume
    h4 Resume:
    div.modal#resumeModal
      label(for="modal-7")
        div
          h4.modal-trigger view
      input(type="checkbox").modal-state#modal-7
      div.modal-fade-screen
        div.modal-inner
          div(for="modal-7").modal-close
          h3 Resume
          p.modal-intro  Modal text
          p.modal-content Body text
    a(href="./img/yourfile.pdf" download="StevenBellWebDevResume.pdf")
      h4 download
  div#contact


