block content

div.mainContainer
  div.leftAside
    div.menuDrop
      ul.accordion
        li
          a(href="javascript:void(0)").js-accordion-trigger Menu Accordion
          ul.submenu
            li
              a(href="javascript:void(0)") Sub Item 1
            li
              a(href="javascript:void(0)") Sub Item 2
        li
          a(href="javascript:void(0)").js-accordion-trigger Another Item
          ul.submenu
            li
              a(href="javascript:void(0)") Sub Item 1
            li
              a(href="javascript:void(0)") Sub Item 2
  div.rightAside
    h1 Steven Bell
    h2 Full Stack Web Developer





